name: pull-requests-workflow
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - develop
jobs:
  pull-request-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          # Disabling shallow clone is recommended for improving relevancy of reporting.

      - name: Use Node.js
        uses: actions/setup-node@v2 
        with:
          node-version: "16.x"

      - name: Install dependencies
        run: npm install

      - name: Run lint  
        run: npm run lint

      - name: Run test  
        run: npm test

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: SonarQube Quality Gate check
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarqube-quality-gate-action@master
        # Force to fail step after specific time.
        timeout-minutes: 5

      # may needed to provide secrets